// Placeholder to allow overriding predefined variables smoothly.

// Copied mostly from https://github.com/gbroxey/blog/blob/main/_sass/minima/custom-variables.scss

body {
    background: url(/assets/background.png) !important;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(27, 7, 40, 0.97);
}

// a:link {
//     color: hwb(216 47% 0%) !important;
// }

// a:visited {
//     color: hwb(216 47% 0%) !important;
// }

// header a:link {
//     color: hwb(152 63% 0%) !important;
// }

// header a:visited {
//     color: hwb(152 63% 0%) !important;
// }

// header.site-header {
//     border-bottom: 3px dashed hwb(216 32% 19%) !important;
// }

// footer {
//     border-top: 3px dashed hwb(216 21% 44%) !important;
// }

em {
    color: rgb(255, 142, 142);
}
strong {
    color: rgb(255, 0, 0);
}

hr {
    border: 2px solid hwb(216 21% 44%) !important;
}

center img {
    margin: 0px 0px 15px !important;
}

blockquote {
    background: hwb(284 18% 25% / 0.15) !important;
    padding: 10px 15px 10px 15px !important;
    color: hwb(216 81% 0%) !important;
    border-left: 10px solid hwb(284 18% 25%) !important;
    @include relative-font-size(1.0625);
    font-style: normal !important;

    > :last-child {
        margin-bottom: 0;
    }

    i, em {
        font-style: italic !important;
    }
}

details {
    background: hwb(284 18% 25% / 0.15) !important;
    padding: 10px 15px 10px 15px !important;
    margin: 0px 0px 15px !important;
    color: hwb(216 81% 0%) !important;
    border-left: 10px solid hwb(284 18% 25%) !important;
    @include relative-font-size(1.0625);
    font-style: normal !important;

    > :last-child {
        margin-bottom: 0;
    }

    i, em {
        font-style: italic !important
    }
}

summary + div {
    border-top: 5px solid hwb(284 18% 25% / 0.5);
    padding-top: 5px;
    margin-top: 10px;
}

h3 {
    color: rgb(107, 255, 211)
}