// Placeholder to allow overriding predefined variables smoothly.

// Copied mostly from https://github.com/gbroxey/blog/blob/main/_sass/minima/custom-variables.scss

// body {
//     background: hwb(216 7% 80%) !important;
//     color: hwb(216 81% 0%) !important;
// }

// a:link {
//     color: hwb(216 47% 0%) !important;
// }

// a:visited {
//     color: hwb(216 47% 0%) !important;
// }

// header a:link {
//     color: hwb(152 63% 0%) !important;
// }

// header a:visited {
//     color: hwb(152 63% 0%) !important;
// }

// header.site-header {
//     border-bottom: 3px dashed hwb(216 32% 19%) !important;
// }

// footer {
//     border-top: 3px dashed hwb(216 21% 44%) !important;
// }

// hr {
//     border: 2px solid hwb(216 21% 44%) !important;
// }

blockquote {
    background: hwb(216 0% 0% / 0.15) !important;
    padding: 10px 15px 10px 15px !important;
    color: hwb(216 81% 0%) !important;
    border-left: 10px solid hsl(210, 100%, 50%) !important;
    @include relative-font-size(1.0625);
    font-style: normal !important;

    > :last-child {
        margin-bottom: 0;
    }

    i, em {
        font-style: italic !important;
    }
}

details {
    background: hwb(117 0% 0% / 0.15) !important;
    padding: 10px 15px 10px 15px !important;
    color: hwb(216 81% 0%) !important;
    border-left: 10px solid hsl(119, 100%, 19%) !important;
    @include relative-font-size(1.0625);
    font-style: normal !important;

    > :last-child {
        margin-bottom: 0;
    }

    i, em {
        font-style: italic !important
    }
}
